<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p> ajouter une bière </p>

  <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-input type='text' placeholder='Nom' name='name'></ion-input>
    <ion-input type='number' placeholder='prix' name='price' ></ion-input>
    <ion-input type='number' placeholder='degrée' name='degree' ></ion-input>
    <ion-input type='number' placeholder='degrée' name='degree' ></ion-input>

    <ion-submit type='submit'> Ajouter </ion-submit>

  </form> -->

</ion-content>
